<nav class="navbar font-sans">
  <div class="navbar__left">
    <!-- Lien vers la page d'accueil -->
    <li class="navbar__item" onclick="C.goHome()">Accueil</li>
    <li class="navbar__item" onclick="C.showFavoris()">Favoris</li>
  </div>
  <input
    type="text"
    class="searchbar__input"
    placeholder="Rechercher un film, une date, une catégorie..."
    onkeyup="C.handlerSearchBar(this.value)"
  />
  <div class="navbar__profile">
    <!-- Sélection du profil -->
    <label class="navbar__label">Profil :</label>
    <select id="profile-select" class="navbar__select" onchange="{{handler}}">
      {{options}}
    </select>

    <!-- Image du profil -->
    <img loading="lazy"
      id="profile-picture"
      class="navbar__picture"
      src="../server/images/default-avatar.jpg"
      alt="Photo de profil"
    />
  </div>
</nav>
