<div class="cardreco" onclick="{{handler}}">
  <div class="cardreco__img-wrapper">
    <img class="cardreco__img" src="../server/images/{{image}}" />
  </div>
    <h3 class="cardreco__titre">{{name}}</h3>
    <p class="cardreco__description">{{description}}</p>

   
  
  <!-- <div class="cardreco_text"> 
    <img class="cardreco__img__profil" src="../server/images/cardreco__img-profil.jpg" />
    <p class="cardreco__desc-name">est l'un des films préférés de</p>
    <h4 class="cardreco__description-name">Pedro Costa</h4>
  </div> -->
</div>