<div class="updateProfile">
  <h4 class="updateProfile__title">Modifier un profil</h4>
  <form class="updateProfile__form">
    <select id="profile-select"  name="id" class="updateProfile__form" onchange="{{hProfile}}">
      {{profile}}
    </select>
    <input class="updateProfile__option" type="text" required name="name" placeholder="Saisir un nom">
    <input class="updateProfile__option" type="text" required name="avatar" placeholder="Saisir l'url d'une image">
    <input class="updateProfile__option" type="number" name="min_age" placeholder="Saisir l'age" />
    <input class="updateProfile__button" onclick="{{handler}}" type="button" value="Modifier" name="todo">
  </form>
</div>