<div class="cards-container">
  <div class="cards">
    <div class="card" onclick="{{onclick}}">
      <img
        src="../server/images/{{image}}"
        alt="Affiche du film"
        class="card__image"
      />
      <h2 class="card__title">{{titre}}</h2>
      <button class="{{buttonClass}}" onclick="event.stopPropagation(); {{buttonAction}}" aria-label="{{buttonLabel}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-bookmark">
          <path d="{{iconPath}}" />
        </svg>
      </button> 
    </div>
  </div>
</div>
