<div class="addMenu">
  <h4 class="addMenu__title"># Ajouter ou modifier un menu</h4>
  <form class="addMenu__form">
      <input required type="text" name="entree" placeholder="Saisir un Titre" pattern="[^0-9]*" title="Numbers are not allowed">
      <input required type="text" name="plat" placeholder="Saisir un plat" pattern="[^0-9]*" title="Numbers are not allowed">
      <input required type="text" name="dessert" placeholder="Saisir un dessert" pattern="[^0-9]*" title="Numbers are not allowed">
      <input onclick="{{handler}}" type="button" value="Update" name="todo">

  </form>
</div>