<div class="addProfile">
  <h4 class="addProfile__title">Modifier un profil</h4>

  <form id="modifyProfile__form" class="addProfile__form">
    <select
      id="profile-select"
      name="id"
      class="navbar__select"
      onchange="{{handlerSelect}}"
    >
      <option value="" disabled selected>Choisir un profil</option>
      {{profiles}}
    </select>

    <input required type="text" name="name" placeholder="Nom du profil" />
    <input required type="text" name="avatar" placeholder="Avatar" />
    <input
      required
      type="text"
      name="min_age"
      placeholder="Restrictions d'age"
    />

    <input
      class="addProfile__button"
      onclick="{{handlerModify}}"
      type="button"
      value="Modifier"
      name="todo"
    />
  </form>
</div>