.log {
  max-width: 600px;
  height: 10rem;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.log__list {
  font-size: 0.9rem;
  color: var(--color-black);
  overflow-y: auto;
  max-height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.log__list li {
  margin-bottom: 0.3rem;
  line-height: 1.4;
}

.log__list .last {
  animation: fade-in 0.6s ease-in-out;
}

.log__list .clignotant {
  animation: blink 2.5s infinite;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
