/* ===== SEARCHBAR ===== */
.searchbar {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.searchbar__input {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: var(--color-black);
  border-radius: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  outline: none;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  width: 250px; /* Ajuste la largeur comme tu veux */
}

.searchbar__input:hover {
  background-color: #f7f7f7;
  border-color: var(--color-accent);
}

.searchbar__input:focus {
  background-color: #eaeaea;
  border-color: var(--color-accent);
  box-shadow: 0 0 8px var(--color-black);
}
