<div class="film-detail">
  <h2 class="film-detail__subtitle">Film Selectioné</h2>
  <div class="film-detail__grid">
    <img class="film-detail__poster" src="../server/images/{{image}}" alt="Affiche du film" />

    <div class="film-detail__info">
      <h1 class="film-detail__title">{{movieTitle}}</h1>
      <p class="film-detail__paragraphe">{{movieSynopsis}}</p>
    </div>
    <div class="film-detail__extra-info">
      <p class="film-detail__paragraphe"><strong>Réalisateur :</strong> <span>{{movieDirector}}</span></p>
      <p class="film-detail__paragraphe"><strong>Année :</strong> <span>{{movieYear}}</span></p>
      <p class="film-detail__paragraphe"><strong>Catégorie :</strong> <span>{{movieCategory}}</span></p>
      <p class="film-detail__paragraphe"><strong>Âge requis :</strong> <span>{{movieAgeRestriction}}</span></p>
    </div>
  </div>

  <div class="film-detail__trailer">
    <h3>Trailer</h3>
    <iframe class="film-detail__iframe" src="{{movieTrailerUrl}}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
