

<div class="movie-detail">
  <h1 class="movie-title">{{movieTitle}}</h1>
  <img class="movie-poster" src="https://mmi.unilim.fr/~viroulaud8/SAE2.03-starter-project/server/images/{{image}}" alt="Affiche du film" />
  <p class="movie-synopsis">{{movieSynopsis}}</p>
  <p><strong>Réalisateur :</strong> <span class="movie-director">{{movieDirector}}</span></p>
  <p><strong>Année de sortie :</strong> <span class="movie-year">{{movieYear}}</span></p>
  <p><strong>Catégorie :</strong> <span class="movie-category">{{movieCategory}}</span></p>
  <p><strong>Restrictions d'âge :</strong> <span class="movie-age-restriction">{{movieAgeRestriction}}</span></p>
  <div class="movie-trailer-container">
    <h3>Trailer</h3>
    <iframe class="movie-trailer" src="{{movieTrailerUrl}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

