<div class="footer-container">
  <div class="footer-section">
    <h3>La Cinetek</h3>
    <a href="#">{{faq}}</a>
    <a href="#">{{contact}}</a>
    <a href="#">{{cookies}}</a>
    <a href="#">{{legal}}</a>
    <a href="#">{{partners}}</a>
  </div>
  <div class="footer-follow-us">
    <h3>{{followUs}}</h3>
    <a href="#"><img src="facebook-icon.png" alt="Facebook" /> Facebook</a>
    <a href="#"><img src="twitter-icon.png" alt="Twitter" /> Twitter</a>
    <a href="#"><img src="youtube-icon.png" alt="YouTube" /> YouTube</a>
    <a href="#"><img src="instagram-icon.png" alt="Instagram" /> Instagram</a>
    <a href="#"><img src="letterboxd-icon.png" alt="Letterboxd" /> Letterboxd</a>
    <h3>{{newsletter}}</h3>
  </div>
  <div class="footer-newsletter">
    <div class="footer-line"></div>
    <p>Partout et tout le temps</p>
    <p>Retrouvez LaCinetek sur votre ordinateur, smartphone, tablette et TV connectée.</p>
    <p>Compatible avec Chromecast et Airplay</p>
    <a href="#"><img src="appstore-icon.png" alt="App Store" /> Télécharger sur l'App Store</a>
    <a href="#"><img src="googleplay-icon.png" alt="Google Play" /> Télécharger sur Google Play</a>
    <a href="#" class="newsletter-btn">S'inscrire à la newsletter</a>
  </div>
  <div class="footer-line"></div>
  <div class="footer-founders">
    <h3>{{founders}}</h3>
    <p>Pascale Ferran, Cédric Klapisch, Laurent Cantet (réalisateurs) et Alain Rocca.</p>
    <p>Les réalisateurs et réalisatrices membres de l'association La Cinémathèque des Cinéastes</p>
    <p>Olivier Assayas, Bertrand Bonello, Michel Hazanavicius (représentant de l'ARP), Rebecca Zlotowski et Mikael Buch (représentant de la SRF)</p>
  </div>
  <div class="footer-organizations">
    <h3>{{organizations}}</h3>
    <a href="#">La Société des Réalisateurs de Films</a>
    <a href="#">UniversCiné</a>
    <a href="#">Arte</a>
    <a href="#">INA</a>
    <a href="#">La Cinémathèque de Toulouse</a>
    <a href="#">ARP</a>
    <a href="#">Lobster</a>
    <a href="#">StudioCanal</a>
    <a href="#">Gaumont</a>
    <a href="#">La Cinémathèque française</a>
    <a href="#">Centre Pompidou</a>
    <a href="#">Deutsche Kinemathek</a>
    <a href="#">Agence du Court Métrage</a>
    <a href="#">La Cinémathèque royale de Belgique</a>
  </div>
  <div class="footer-support">
    <h3>{{support}}</h3>
    <a href="#">Centre National du Cinéma et de l'image animée</a>
    <a href="#">Europe créative MEDIA</a>
    <a href="#">Île de France</a>
    <a href="#">Chanel</a>
  </div>
  <div class="footer-credits">
    <h3>{{credits}}</h3>
    <p>Cellules, Eric Brocherie, Les Produits Frais, Ricochets Productions, Cécile Dubost, Léo Caresio, Pierre Laporte Communication, Kinow, Codekraft, Hybrid et Middlemotion</p>
  </div>
</div>
