<div class="footer-container">
  <div class="footer-top">
    <div class="footer-section">
      <a href="#">{{faq}}</a>
      <a href="#">{{contact}}</a>
      <a href="#">{{cookies}}</a>
      <a href="#">{{legal}}</a>
      <a href="#">{{partners}}</a>
    </div>
    <div class="footer-follow-us">
      <!-- <a href="#"><img src="facebook-icon.png" alt="Facebook" /> Facebook</a>
      <a href="#"><img src="twitter-icon.png" alt="Twitter" /> Twitter</a>
      <a href="#"><img src="youtube-icon.png" alt="YouTube" /> YouTube</a>
      <a href="#"><img src="instagram-icon.png" alt="Instagram" /> Instagram</a>
      <a href="#"><img src="letterboxd-icon.png" alt="Letterboxd" /> Letterboxd</a> -->
      <h3>Nous suivre</h3>
      <a href="#" class="newsletter-btn">S'inscrire à la newsletter</a>
    </div>
  </div>
  <div class="footer-line"></div>
  <div class="footer-bottom">
    <div class="footer-newsletter">
        <p>Partout et tout le temps</p>
        <p>Retrouvez LaCinetek sur votre ordinateur, smartphone, tablette et TV connectée.</p>
        <p>Compatible avec Chromecast et Airplay</p>
    </div>
    <div class="footer-line"></div>
    <div class="footer-founders">
      <h3>{{founders}}</h3>
      <p>Pascale Ferran, Cédric Klapisch, Laurent Cantet (réalisateurs) et Alain Rocca.</p>
      <h3>Les réalisateurs et réalisatrices membres de l'association La Cinémathèque des Cinéastes</h3>
      <p>Olivier Assayas, Bertrand Bonello, Michel Hazanavicius (représentant de l'ARP), Rebecca Zlotowski et Mikael Buch (représentant de la SRF)</p>
    </div>
   
    <div class="footer-support">
      <h3>{{support}}</h3>
      <a href="#">Centre National du Cinéma et de l'image animée</a>
      <a href="#">Europe créative MEDIA</a>
      <a href="#">Île de France</a>
      <a href="#">Chanel</a>
    </div>
    <div class="footer-credits">
      <h3>{{credits}}</h3>
      <p>Cellules, Eric Brocherie, Les Produits Frais, Ricochets Productions, Cécile Dubost, Léo Caresio, Pierre Laporte Communication, Kinow, Codekraft, Hybrid et Middlemotion</p>
    </div>
  </div>
</div>
