<div class="cards-container">
  <div class="cards">
    <div class="card" onclick="{{onclick}}">
      <img
        src="https://mmi.unilim.fr/~viroulaud8/SAE2.03-starter-project/server/images/{{image}}"
        alt="Affiche du film"
        class="card__image"
      />
      <h2 class="card__title">{{titre}}</h2>
      <button
        class="card__favoris"
        type="button"
        onclick="event.stopPropagation();{{handlerFavoris}}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="heart-icon"
          width="32"
          height="32"
        >
          <path
            d="M20.8 4.6c-1.5-1.5-4-1.5-5.5 0l-.8.8-.8-.8c-1.5-1.5-4-1.5-5.5 0-1.5 1.5-1.5 4 0 5.5l6.3 6.3 6.3-6.3c1.5-1.5 1.5-4 0-5.5z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
