/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f5f5f5;  /* Couleur de fond claire */
  color: var(--color-black);
  border-radius: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);  /* Ombre subtile */
  gap: 2rem;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
}

/* ===== ITEMS ===== */

.navbar__left{
  display: flex;
}

.navbar__item {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-black);
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-right: 1rem; /* Espacement entre les éléments */
  list-style: none;  /* Suppression du point de liste */
}

.navbar__item:hover {
  color: var(--color-white);
  transform: translateY(-2px);  /* Légère élévation au survol */
  background-color: var(--color-black);  /* Légère couleur de fond au survol */
}


/* ===== SELECT DROPDOWN / LANGUAGE OR SORT ===== */
.navbar__select {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ffffff;  /* Fond blanc */
  color: var(--color-black);  /* Texte noir */
  border-radius: 0.75rem;  /* Bords arrondis */
  cursor: pointer;
  font-size: 1rem;  /* Police plus grande pour une meilleure lisibilité */
  border: 1px solid #ccc;  /* Bordure subtile par défaut */
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  appearance: none;  /* Supprime les styles par défaut sur certains navigateurs (notamment Chrome) */
}

.navbar__select:hover {
  background-color: #f7f7f7;  /* Fond légèrement gris au survol */
  border-color: var(--color-accent);  /* Bordure colorée au survol */
}

.navbar__select:focus {
  background-color: #eaeaea;  /* Fond gris clair quand le focus est actif */
  border-color: var(--color-accent);  /* Bordure colorée quand le select est sélectionné */
  box-shadow: 0 0 8px var(--color-black);  /* Ombre subtile pour le focus */
}

/* Styliser la valeur sélectionnée */
.navbar__select option {
  padding: 0.75rem;  /* Espacement dans les options */
  font-size: 1rem;
  background-color: #ffffff;  /* Fond des options */
  color: var(--color-black);  /* Texte des options */
}

/* Modifier la couleur de fond et du texte de l'option sélectionnée */
.navbar__select option:checked {
  background-color: rgba(0, 0, 0, 0.151);  /* Fond rouge lorsque l'option est sélectionnée */
  color: #ffffff;  /* Texte blanc sur fond rouge */
}

/* ===== PROFILE SECTION ===== */
.navbar__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Image du profil */
.navbar__picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ccc;  /* Couleur de fond si l'image est manquante */
  object-fit: cover;
  border: 2px solid var(--color-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);  /* Ombre subtile */
}
