<nav class="navbar font-sans">
  <div class="navbar__left">
    <!-- Lien vers la page d'accueil -->
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
    <li class="navbar__item" onclick="window.location.href='index.html'">Accueil</li>
    <li class="navbar__item" onclick="{{hFavoris}}">Favoris</li>
  </div>
  
  <div class="navbar__profile">
    <!-- Sélection du profil -->
    <label class="navbar__label">Profil :</label>
    <select id="profile-select" class="navbar__select" onchange="{{handler}}">
      {{options}}
    </select>

    <!-- Image du profil -->
    <img 
      id="profile-picture"
      class="navbar__picture"
      src="{{image}}"
      alt="Photo de profil"
    />
  </div>
</nav>
