<div class="addProfile">
  <h4 class="addProfile__title"># Ajouter un Profil</h4>
  <form class="addProfile__form">
  
      <input id="profile-name" type="text" name="name" placeholder="Nom du profil" required>
      <input id="profile-avatar" type="text" name="avatar" placeholder="Avatar ou image associée (facultatif)" >
      <input id="profile-min-age" type="text" name="min_age" placeholder="Restrictions d'âge"  required >
      <input onclick="{{handler}}" type="button" value="Ajouter" name="todo">

  </form>
</div>